/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

body
{
    margin-top:50px;
    overflow:hidden;
    background-color:black;
    color:white;
    font-family:sans-serif;
}

/* Utilities */

.container
{
    max-width:90vw;
    margin:0 auto;
}

/* Header */

header
{
    height:50px;
    background-color:black;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    width:100vw;
}

.views
{
    position:absolute;
    top:5px;
    right:0;
}

.views span
{
    background-color:#4A4A4A;
    font-size:13px;
    padding:4px 5px;
    border-radius:5px;
}

.fa-table-cells
{
    margin-right:3px;
}

/* Main */

main
{
    padding-top:30px;
    padding-bottom:30px;
    background-color:black;
    overflow-y:auto;
    height:calc(100vh - 120px);
}

.row
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:flex-start;
}

.column
{
    flex-basis:230px;
    padding:6px 3px;
    flex-shrink:0;
    flex-grow:0;
}

.card
{
    height:140px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
}

#jonathan
{
    background-image:url(../img/Jonathan.jpg);
}

#joseph
{
    background-image:url(../img/Joseph.jpg);
}

#jotaro
{
    background-image:url(../img/Jotaro.webp);
}

#josuke
{
    background-image:url(../img/Josuke.png);
}

#giorno
{
    background-image:url(../img/Giorno.jpg);
}

#jolyne
{
    background-image:url(../img/Jolyne.jpg);
}

#speedwagon
{
    background-image:url(../img/Speedwagon.png);
}

#zeppeli
{
    background-image:url(../img/Zeppeli.jpg);
}

#caesar
{
    background-image:url(../img/Caesar.jpg);
}

#stroheim
{
    background-image:url(../img/Stroheim.jpg);
}

#esidisi
{
    background-image:url(../img/Esidisi.jpg);
}

#wamuu
{
    background-image:url(../img/Wamuu.jpg);
}

#kars
{
    background-image:url(../img/Kars.png);
}

#kakyoin
{
    background-image:url(../img/Kakyoin.jpg);
}

#polnareff
{
    background-image:url(../img/Polnareff.jpg);
}

#abdul
{
    background-image:url(../img/Abdul.jpg);
}

#dio
{
    background-image:url(../img/Dio.jpg);
}

#okuyasu
{
    background-image:url(../img/Okuyasu.jpg);
}

#koichi
{
    background-image:url(../img/Koichi.jpg);
}

#rohan
{
    background-image:url(../img/Rohan.png);
}

#tonio
{
    background-image:url(../img/Tonio.jpg);
}

#mikitaka
{
    background-image:url(../img/Mikitaka.jpg);
}

#kira
{
    background-image:url(../img/Kira.png);
}

#bucciarati
{
    background-image:url(../img/Bucciarati.jpg);
}

#mista
{
    background-image:url(../img/Mista.jpg);
}

#narancia
{
    background-image:url(../img/Narancia.jpg);
}

#abbacchio
{
    background-image:url(../img/Abbacchio.jpg);
}

#fugo
{
    background-image:url(../img/Fugo.jpg);
}

#trish
{
    background-image:url(../img/Trish.jpg);
}

#diavolo
{
    background-image:url(../img/Diavolo.jpg);
}

#ermes
{
    background-image:url(../img/Ermes.jpg);
}

#foo-fighters
{
    background-image:url(../img/foo-fighters.jpg);
}

#weather
{
    background-image:url(../img/Weather.jpg);
}

#anasui
{
    background-image:url(../img/Anasui.png);
}

#pucci
{
    background-image:url(../img/Pucci.webp);
}

.card > .username
{
    background-color:rgba(146, 140, 140, 0.5);
    padding:4px 5px;
    position:absolute;
    bottom:0;
    left:0;
    font-size:13px;
}

.card .fa-microphone-slash
{
    margin-right:3px;
}

/* Footer */

footer
{
    height:70px;
    background-color:#222;
    position:fixed;
    z-index:1;
    bottom:0;
    left:0;
    width:100vw;
    display:flex;
}

.audio-video
{
    flex-basis:10vw;
}

.end-meeting
{
    flex-basis:7vw;
}

.audio-video, .tools
{
    display:flex;
}

.tools
{
    flex-basis:83vw;
    justify-content:center;
}

.tool
{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    margin:0 10px;
    text-align:center;
}

.tool > i
{
    font-size:25px;
}

.tool > span
{
    font-size:13px;
    padding-top:10px;
}

footer .fa-chevron-up
{
    line-height:70px;
    font-size:10px;
}

footer .fa-share-from-square
{
    color:#4AC701;
}

.end-meeting
{
    background-color:#4A4A4A;
    color:red;
    text-align:center;
    line-height:70px;
    font-size:13px;
}